<!DOCTYPE html>
<html lang="en">

	<head>

		<title>KitchenBot</title>
		<link rel="stylesheet" href="../static/style.css">
		<link rel="icon" href="../static/kitchen_boy.ico">
		<script src="../static/scripts.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		
	</head>

	<body onload="populateSelect(); viewSchedule();">

		<!-- Title -->
		<div id="title">
			<h1 id="titleHeader">KitchenBot</h1> 
			<img src="../static/kitchen_boy.png" style="width: 176px; height: 290px;">
		</div>

		 <!-- Status -->
		<div id="status">
			<h2 id="statusHeader">Status</h2>
			<p>KitchenBot is Online.</p>
		</div>

		<!-- Schedule -->
		<div id="schedule" style="overflow-x:auto;">
			<h2 id="scheduleHeader">Schedule</h2>
			<div id="table"></div>
		</div>

		 <!-- Custom Message Form -->
		<div id="form">
			<h2 id='formHeader'>Send Message via KitchenBot</h2>
			<form action="/custom" method="post">
				<div>
					<label for="webid">Web ID:</label>
					<input type="text" id="webid" name="web_id">
				</div>
				<div>
					<label for="msg">Message:</label>
					<textarea id="msg" name="message"></textarea>
				</div>
				<div>
					<label for="dynamic-select">Mention:</label>
					<select id="dynamic-select" name="mention"></select>
				</div> 
				<div class="button">
					<button type="submit">Send</button>
				</div>
			</form>
		</div>

		<hr/>

		<!-- GitHub Link -->
		<a href="https://github.com/nathan-weinberg/kitchen-bot" target="_blank">Check out the project on GitHub</a>

	</body>

</html>
